/* ---------------------- footer---------------------*/

*{
  list-style: none;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 150px;
}
nav ul{
  display: flex
}
nav ul li {
  display: inline;
  margin-left: 10px;
  font-weight: 500;
}